@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.dish_card_container {
    background-color: #35a064;
    border-radius: 7px;
    color: white;
    display: flex;
}
.dish_image {
    max-height: 200px;
    max-width: 200px;
}

.dish_card_text {
    margin-left: 5px;
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dish_card_text .card_header {
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    position: relative;
}

.dish_card_container:hover {
    transform: scale(1.02);
    transition: all .25s ease-out;
}

.dish_card_container:hover .card_header::after {
    transform: scaleX(1);
}

.dish_card_text p {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    padding-top: 8px;
}

.recipe_link {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 900px) and (max-width: 1050px) {
    .dish_card_container {
        height: 200px;
    }

    .dish_card_text .card_header {
        font-size: 18px;
    }

    .dish_card_text p {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    .dish_card_container {
        width: 200px;
        flex-direction: column;
    }

    .dish_card_text {
        margin-left: 0;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .dish_card_container {
        height: 200px;
        flex-direction: row;
    }
}

@media screen and (max-width: 500px){
    .dish_card_container {
        height: 200px;
    }

    .dish_card_text .card_header {
        font-size: 18px;
    }

    .dish_card_text p {
        font-size: 14px;
    }
}
