@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.ingredients_block {
    border: 2px solid #3cb371;
    border-radius: 20px;
    padding: 15px 40px 15px 30px;
    max-width: 600px;
}

.ingredients_header {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
}
