.card_container {
    background-color: #35a064;
    border-radius: 20px;
    margin: 0 20px 30px;
    padding: 20px 35px;
    display: flex;
    width: 550px;
    height: 240px;
}

.card_picture {
    border-radius: 10px;
}

.card_text {
    width: 275px;
    border-radius: 10px;
    margin-left: 15px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.card_text h3 {
    max-width: 100%;
    font-size: 20px;
    margin: 7px 0 5px;
}

.card_text p {
    max-width: 100%;
    margin-top: 10px;
}

.card_text p b{
    text-decoration: underline white;
    text-underline-offset: 2px;
}

.recipe_link {
    padding: 7px 10px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #67c491;
    border-radius: 7px;
    text-decoration: none;
}


