.card_container {
    background-color: #d4eedf;
    border-radius: 20px;
    margin: 0 20px 15px;
    padding: 20px 35px;
    display: flex;
    width: 550px;
}

.card_picture {
    border-radius: 10px;
}

.card_text {
    width: 275px;
    background-color: #7dcca0;
    border-radius: 10px;
    margin-left: 15px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_text h3 {
    max-width: 100%;
    margin: 5px 0;
}

.card_text p {
    max-width: 100%;
    margin-top: 10px;
}
